.banner {
  /* height: 60vh; */
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
}

.banner_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner_text h1,
p {
  color: #1f1f1f;
}
.banner_text button {
  margin-top: 1rem;
}

.banner_avatar {
  width: 100%;
  display: flex;
  justify-content: center;
}

.banner_avatar > img {
  border-radius: 50%;
  width: 100%;
  max-width: 300px;
  height: auto;
  object-fit: cover;
}

.anchor {
  position: relative;
  z-index: -20;
}

.bg_circle_green_top {
  background-image: linear-gradient(to bottom right, #a7f3d0, #10b981);
  width: 70vh;
  height: 70vh;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-60%, -60%);
  animation: green_top_move 10s infinite;
}
@keyframes green_top_move {
  0% {
    top: 0rem;
  }
  25% {
    left: 10rem;
  }
  50% {
    top: 5rem;
  }
  75% {
    right: 10rem;
  }
  100% {
    top: 0rem;
  }
}

.bg_circle_green_bottom {
  background-image: linear-gradient(to bottom right, #10b981, #a7f3d0);
  z-index: -1;
  width: 120vh;
  height: 120vh;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-50%, -50%);
  animation: green_btm_move 10s infinite;
}
@keyframes green_btm_move {
  0% {
    top: 0rem;
  }
  25% {
    left: 3rem;
  }
  50% {
    top: 1.5rem;
  }
  75% {
    right: 3rem;
  }
  100% {
    top: 0rem;
  }
}

@media screen and (min-width: 640px) {
  .banner {
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .banner_text {
    align-items: flex-start;
  }
  .banner_text h1,
  p {
    color: #fafafa;
  }

  .banner_avatar {
    width: 30%;
    display: flex;
    justify-content: flex-end;
  }

  .bg_circle_green_top {
    width: 120vh;
    height: 120vh;
    transform: translate(-25%, -60%);
  }

  .my_work_button {
    background-color: #fafafa;
  }
  .my_work_button span {
    color: #1f1f1f;
  }
}

.bg_circle_grey_right {
  background-color: #f1f8f38e;
  width: 90vh;
  height: 90vh;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  transform: translate(100%, 0%);
  animation: grey_right_move 10s infinite;
}

@keyframes grey_right_move {
  0% {
    top: 0;
    right: 0em;
    left: 0rem;
  }
  25% {
    left: 10rem;
  }
  50% {
    top: 5rem;
  }
  75% {
    right: 10rem;
  }
  100% {
    top: 0;
    right: 0em;
    left: 0rem;
  }
}

.bg_circle_grey_left {
  background-color: #f1f8f38e;
  width: 90vh;
  height: 90vh;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  transform: translate(-50%, 50%);
  animation: grey_left_move 10s infinite;
}

@keyframes grey_left_move {
  0% {
    top: 0rem;
  }
  25% {
    left: 5rem;
  }
  50% {
    top: 2.5rem;
  }
  75% {
    right: 5rem;
  }
  100% {
    top: 0rem;
  }
}
