.banner {
  height: 25vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.banner_text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrow {
  animation: bounce 1s infinite;
  display: inline-block;
  font-size: 18px;
  color: #34d399;
}

@keyframes bounce {
  0% {
    transform: translate(0px, 0px);
  }

  30% {
    transform: translate(0px, 5px);
  }

  75% {
    transform: translate(0px, -5px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

.project {
  background-size: cover;
  background-position: center;
  cursor: pointer;
}
.project-gp {
  background-image: url(../../assets/projects/great-phermesia.png);
}
.project-weather {
  background-image: url(../../assets/projects/weather-app.png);
}
.project-literacy {
  background-image: url(../../assets/projects/craft-example.png);
}
.project-ux {
  background-image: url(../../assets/projects/lg-air-sketches.jpeg);
}
.project-portfolio {
  background-image: url(../assets/projects/portfolio-app.png);
}
.project-soon {
  background-image: url(../assets/projects/coming-soon.jpg);
}
